ul {
    list-style-type: none;
    background-color: chartreuse;
    word-spacing: 20px;
    padding: 10px;
}
li {
    display: inline-block;
}
li a {
    color: black;
    text-decoration: none;
}
li a:hover{
    background-color: blue;
    color: rgb(251, 251, 251);
}