*{
    box-sizing: content-box;
}

body{

    background-image: url(https://i1.sndcdn.com/avatars-000643652070-avjcbu-t240x240.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 400px 400px;
}

p{
    border: solid 2px gray;
    padding: 10px;
    width: 50%;

}